$desktop: new-breakpoint(min-width 769px 4);
@include media($desktop) {
  // HEADER ---
  .header {
    @include pad(1.25rem 0 1.87rem 2.5rem);
    .nav {
      @include span-columns(6 of 12);
      @include shift(4);
      .links {
        @include span-columns(1.6 of 8);
      }
      .register {
        @include span-columns(1.48 of 8);
        margin-left: 9%;
      }
    }
  }
  // HERO ---
  .heroImgWrapper {
    height: 40.63rem;
  }
  .hero {
    .title {
      font-size: 4rem;
      line-height: 1em;
      @include pad(2.68rem 5.5rem 0.62rem 4.87rem);
    }
    .description {
      font-size: 2rem;
      line-height: 1.1875em;
      @include pad(0.93rem 2.37rem 0.81rem 3.87rem);
    }
    .searchForm {
      @include span-columns(5.95 of 12);
      @include shift(3.2);
      margin-top: 1.62rem;
      .searchInput {
        @include span-columns(5.95 of 5.95);
      }
      .locationInput {
        @include span-columns(2 of 5.9);
        margin: 0.75rem 0 0;
      }
      .budgetInput {
        @include span-columns(2.1 of 5.9);
        margin: 0.75rem 0 0 2%;
      }
      .submitBtn {
        @include span-columns(2.1 of 5.9);
        margin: 0.75rem 0 0 2.45%;
      }
    }
  }
  // FEATURED ---
  .featured {
    .featuredFilter {
      @include pad(2.5rem 1.25rem 0.5rem 2.625rem);
      text-align: left;
      .featuredLinks {
        @include span-columns(1.8 of 12);
      }
    }
    .artistOne {
      width: 100%;
      height: 16.25rem;
    }
    .eventOne {
      @include span-columns(3.7 of 12);
      @include shift(0.5);
      margin-right: 2%;
    }
    .eventTwo {
      @include span-columns(3.7 of 12);
      margin-right: 2%;
      .artistTwo {
        width: 100%;
        height: 16.25rem;
      }
    }
    .eventThree {
      @include span-columns(3.7 of 12);
      @include omega;
      .artistThree {
        width: 100%;
        height: 16.25rem;
      }
    }
    .discoverBtn {
      @include span-columns(2.5 of 12);
      @include shift(4.7);
    }
  }
}
