 body {
   margin: 0;
 }

// HEADER ---

.header {
  @include outer-container(12);
  @include pad(1.25rem 1.25rem 1.87rem 1.25rem);
  position: relative;
.logoWrapper {
  @include span-columns(2 of 12);
}
  .nav {
    @include span-columns(7 of 12);
    @include omega;
    @include shift(2.5);
    .addEvent {
      @include span-columns(3 of 7);
      @include omega;
      font-family: 'Lato', sans-serif;
      font-size: 0.75rem;
      text-decoration: none;
      color: $headerColor;
      line-height: 3.06em;
      letter-spacing: 0.5;
      text-align: right;
      &:hover {
        color: $registerColor;
        transition: 0.6s;
      }
    }

    .hiddenlinks {
      display: none;
    }

    .register {
      @include omega;
      @include span-columns(3 of 7);
      text-decoration: none;
      text-align: center;
      color: $registerColor;
      height:  2.5rem;
      line-height: 3.37em;
      margin-left: 17%;
      background-color:  #FFFFFF;
      border: none;
      border-radius: 0.18rem;
      font-family: 'Lato', sans-serif;
      font-size: 0.81rem;
      letter-spacing: 0.03em;
      &:hover {
        color: $headerColor;
        background-color: #E3694C;
        transition: 0.6s;
      }
    }
  }
}

// HERO -------

.heroImgWrapper {
  background-image: url("../assets/hero.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  height: 40.31rem;
  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(92, 78, 72, 0.4);
    z-index: 0;
  }
}


.hero {
  @include outer-container(12);
  text-align: center;
  position: relative;
  .title {
    @include pad(1.87rem 1.5rem 1.87rem 1.5rem);
    margin: 0;
    line-height: 2.87rem;
    font-weight: 300;
    font-size: 2.62rem;
    font-family: 'Lato', sans-serif;
    color: $heroColor;
    letter-spacing: 0.03em;
  }

  .description {
    @include pad(0 1.62rem 2.18rem 1.62rem);
    margin: 0;
    font-size: 1.37rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: $heroColor;
    line-height: 1.5em;
    letter-spacing: 0.03em;
  }

  .searchForm {
    @include span-columns(10 of 12);
    @include shift(1);
    .searchInput {
      @include span-columns(10 of 10);
      @include pad(1.25rem 1.25rem 1.25rem 1.25rem);
      @include omega;
      height: 3.12rem;
      border-radius: 0.18rem;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 0.93rem;
      letter-spacing: 0.03em;
      color: $findEventsColor;
    }
    .locationInput {
      @include span-columns(5 of 10);
      @include omega();
      @include pad(0.62rem 1.25rem 0.62rem 1.25rem);
      margin: 0.93rem 0.5rem 0.93rem 0;
      height: 3.12rem;
      border-radius: 0.18rem;
      border: none;
      -webkit-appearance: none;
      background-image: url('../assets/arrow.jpg');
      background-repeat: no-repeat;
      background-position: 82%;
      font-family: 'Lato', sans-serif;
      font-size: 0.93rem;
      letter-spacing: 0.03em;
      color: $findEventsColor;
      &:hover {
        cursor: pointer;
      }
    }
    .budgetInput {
      @include span-columns(5 of 10);
      @include omega();
      @include pad(0.62rem 1.25rem 0.62rem 0.62rem);
      margin: 0.93rem 0 0.93rem 0;
      height: 3.12rem;
      border-radius: 0.18rem;
      border: none;
      -webkit-appearance: none;
      background-image: url('../assets/arrow.jpg');
      background-repeat: no-repeat;
      background-position: 82%;
      font-family: 'Lato', sans-serif;
      font-size: 0.93rem;
      letter-spacing: 0.03em;
      color: $findEventsColor;
      &:hover {
        cursor: pointer;
      }
    }

    .submitBtn {
      @include span-columns(10 of 10);
      @include omega;
      height: 3.12rem;
      background-color: #90C45B;
      border-radius: 0.18rem;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 0.93rem;
      letter-spacing: 0.03em;
      color: $findBtnColor;
      &:hover {
        cursor: pointer;
        color: $featuredNavColor;
        transition: 0.6s;
      }
    }
  }
}

// FEATURED ------

.featured {
  @include outer-container(12);
  @include pad();
  text-align: center;
  .featuredFilter {
    @include span-columns(12 of 12);
    @include pad(2.5rem 1.25rem 0.5rem 1.87rem);
    text-align: center;
    .featuredLinks {
      @include span-columns(4 of 12);
      text-decoration: none;
      font-size: 0.93rem;
      font-family: 'Lato', sans-serif;
      color: $featuredNavColor;
      height: 2.18rem;
      &:hover {
        color: $featuredNavHover;
      }
    }
    .mostPopular {
      background-image: url('../assets/active.svg');
      background-repeat: no-repeat;
      background-position: 0.5rem 1.75rem;
    }
  }

  .artistOne{
    background-image: url('../assets/chesney.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .artistTwo {
    background-image: url('../assets/gerald-albright.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .artistThree {
    background-image: url('../assets/the-rock-church.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .artistPhoto {
    @include span-columns(9 of 12);
    @include shift(1.5);
    margin-top: 1.87rem;
    border-radius: 0.18rem;
    height: 16.38rem;
  }


  .info {
    @include span-columns(8 of 8);
    @include pad(0.93rem 1.25rem 0.62rem 2.81rem);
    .genre {
      @include span-columns(8 of 8);
      text-align: left;
      color: $eventGenreColor;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
    }
    .artist {
      @include span-columns(8 of 8);
      @include omega;
      text-align: left;
      line-height: 1.2em;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-size: 1.12rem;
      font-weight: 700;
      color: $eventTitleColor;
      &:hover {
        color: #BB4428;
      }
    }
  }

  .location {
    @include span-columns(3.2 of 8);
    @include shift(0.9);
    @include pad(0.62rem 0.93rem 0.62rem 0.62rem);
    @include omega;
    border-top: 1px solid #E1E2E5;
    border-right: 1px solid #E1E2E5;
    text-align: right;
    line-height: 1.56em;
    font-family: 'Lato', sans-serif;
    .location-term {
      margin: 0;
      font-size: 0.75rem;
      text-transform: uppercase;
      color: $eventLocationColor;
      letter-spacing: 0.5;
      font-weight: 300;
    }
     .location-description {
       margin: 0;
       font-size: 1rem;
       font-weight: 400;
       color: $eventCityColor;
     }
  }

  .price {
    @include span-columns(3.2 of 8);
    @include pad(0.62rem 0.62rem 0.62rem 0.93rem);
    border-top: 1px solid #E1E2E5;
    text-align: left;
    line-height: 1.56em;
    font-family: 'Lato', sans-serif;
    .price-term {
      margin: 0;
      font-size: 0.75rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $eventLocationColor;
      letter-spacing: 0.5;
    }
     .price-description {
       margin: 0;
       font-size: 1rem;
       font-weight: 400;
       color: $eventCityColor;
     }
  }

   .discover{
     @include span-columns(12 of 12);
     @include pad(1.25rem 1.25rem 6.12rem 1.25rem);
   }
  .discoverBtn {
    @include span-columns(6 of 12);
    @include shift(3);
    margin-top: 3.12rem;
    background-color: #fff;
    border-radius: 0.18rem;
    border: 0.06rem solid #B3B5BE;
    height: 3.12rem;
    line-height: 3em;
    text-decoration: none;
    color: $discoverBtnColor;
    font-size: 0.93rem;
    letter-spacing: 0.5;
    font-family: 'Lato', sans-serif;
    &:hover {
      background-color: #90C45B;
      color: $headerColor;
      transition: 0.7s;
      cursor: pointer;
    }
  }
}

// FOOTER --------
.footer {
  @include outer-container(12);
  @include pad(2.18rem 1.25rem 2.87rem 2.81rem);
  text-align: center;
  line-height: 1.87rem;
  border-top: 0.06rem solid #E1E2E5;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  height: 8.75rem;
  color: $footerColor;
  font-size: 0.81rem;

   .socialLinks {
     text-decoration: none;
     color: $footerColor;
     font-size: 2rem;
     &:hover {
       color: #787B8A;
       transition: 0.7s;
     }
   }

  .policy {
    color: $footerColor;
    margin-right: 0.87rem;
    &:hover {
      color: #787B8A;
    }
  }

  .copyright {
    margin-right: 1.5rem;
    font-size: 0.81rem;
    &:hover {
      color: #787B8A;
    }
  }
}
