 body {
   margin: 0;
 }

// HEADER ---

.header {
  @include outer-container(12);
  @include pad(1.25rem 1.25rem 1.875rem 1.25rem);
  position: relative;
.logoWrapper {
  @include span-columns(2 of 12);
}
  .nav {
    @include span-columns(7 of 12);
    @include omega;
    @include shift(2.5);
    .addEvent {
      @include span-columns(3 of 7);
      @include omega;
      font-family: 'Lato', sans-serif;
      font-size: 0.75rem;
      text-decoration: none;
      color: $headerColor;
      line-height: 3.0625em;
      letter-spacing: 0.5;
      text-align: right;
      &:hover {
        color: $registerColor;
      }
    }

    .hiddenlinks {
      display: none;
    }

    .register {
      @include omega;
      @include span-columns(3 of 7);
      text-decoration: none;
      text-align: center;
      color: $registerColor;
      height:  2.5rem;
      line-height: 3.375em;
      margin-left: 17%;
      background-color:  #FFFFFF;
      border: none;
      border-radius: 0.1875rem;
      font-family: 'Lato', sans-serif;
      font-size: 0.8125rem;
      letter-spacing: 0.03125em;
      &:hover {
        color: $headerColor;
        background-color: #E3694C;
        transition: 0.6s;
      }
    }
  }
}

// .overlay {
//   position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background-color: #000000;
//    background: rgba(0,0,0,0.30);
// }


// HERO -------

.heroImgWrapper {
  background-image: url("../assets/Hero.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  height: 40.31rem;
  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(92, 78, 72, 0.4);
    z-index: 0;
  }
}


.hero {
  @include outer-container(12);
  text-align: center;
  position: relative;
  .title {
    @include pad(1.875rem 1.5rem 1.875rem 1.5rem);
    margin: 0;
    line-height: 2.875rem;
    font-weight: 100;
    font-size: 2.625rem;
    font-family: 'Lato', sans-serif;
    color: $heroColor;
    letter-spacing: 0.03125em;
  }

  .description {
    @include pad(0 1.625rem 2.188rem 1.625rem);
    margin: 0;
    font-size: 1.375rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: $heroColor;
    line-height: 1.5em;
    letter-spacing: 0.03125em;
  }

  .searchForm {
    @include span-columns(10 of 12);
    @include shift(1);
    .searchInput {
      @include span-columns(10 of 10);
      @include pad(1.25rem 1.25rem 1.25rem 1.25rem);
      @include omega;
      height: 3.125rem;
      border-radius: 0.1875rem;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      letter-spacing: 0.03125em;
      color: $findEventsColor;
    }
    .locationInput {
      @include span-columns(5 of 10);
      @include omega();
      @include pad(0.625rem 1.25rem 0.625rem 1.25rem);
      margin: 0.9375rem 0.5rem 0.9375rem 0;
      height: 3.125rem;
      border-radius: 0.1875rem;
      border: none;
      -webkit-appearance: none;
      background-image: url('../assets/Arrow.jpg');
      background-repeat: no-repeat;
      background-position: 82%;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      letter-spacing: 0.03125em;
      color: $findEventsColor;
      &:hover {
        cursor: pointer;
      }
    }
    .budgetInput {
      @include span-columns(5 of 10);
      @include omega();
      @include pad(0.625rem 1.25rem 0.625rem 0.625rem);
      margin: 0.9375rem 0 0.9375rem 0;
      height: 3.125rem;
      border-radius: 0.1875rem;
      border: none;
      -webkit-appearance: none;
      background-image: url('../assets/Arrow.jpg');
      background-repeat: no-repeat;
      background-position: 82%;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      letter-spacing: 0.03125em;
      color: $findEventsColor;
      &:hover {
        cursor: pointer;
      }
    }

    .submitBtn {
      @include span-columns(10 of 10);
      @include omega;
      height: 3.125rem;
      background-color: #90C45B;
      border-radius: 0.1875rem;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      letter-spacing: 0.03125em;
      color: $findBtnColor;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// FEATURED ------

.featured {
  @include outer-container(12);
  @include pad();
  text-align: center;
  .featuredFilter {
    @include span-columns(12 of 12);
    @include pad(2.5rem 1.25rem 0.5rem 1.875rem);
    text-align: center;
    .featuredLinks {
      @include span-columns(4 of 12);
      text-decoration: none;
      font-size: 0.9375rem;
      font-family: 'Lato', sans-serif;
      color: $featuredNavColor;
      height: 2.188rem;
      &:hover {
        color: $featuredNavHover;
      }
    }
    .mostPopular {
      background-image: url('../assets/Active.svg');
      background-repeat: no-repeat;
      background-position: 0.5rem 1.75rem;
    }
  }



  .artistPhoto {
    width: 80%;
    margin-top: 1.875rem;
    border-radius: 0.1875rem;
    height: 16.38rem;
  }


  .info {
    @include span-columns(8 of 8);
    @include pad(0.9375rem 1.25rem 0.625rem 2.813rem);
    .genre {
      @include span-columns(8 of 8);
      text-align: left;
      color: $eventGenreColor;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
    }
    .artist {
      @include span-columns(8 of 8);
      @include omega;
      text-align: left;
      line-height: 2em;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-size: 1.125rem;
      color: $eventTitleColor;
    }
  }

  .location {
    @include span-columns(3.2 of 8);
    @include shift(0.9);
    @include pad(0.625rem 0.9375rem 0.625rem 0.625rem);
    @include omega;
    border-top: 0.125rem solid #E1E2E5;
    border-right: 0.125rem solid #E1E2E5;
    text-align: right;
    line-height: 1.5625em;
    font-family: 'Lato', sans-serif;
    .location-term {
      margin: 0;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: lighter;
      color: $eventLocationColor;
      letter-spacing: 0.5;
    }
     .location-description {
       margin: 0;
       font-size: 1rem;
       color: $eventCityColor;
     }
  }

  .price {
    @include span-columns(3.2 of 8);
    @include pad(0.625rem 0.625rem 0.625rem 0.9375rem);
    border-top: 0.125rem solid #E1E2E5;
    text-align: left;
    line-height: 1.5625em;
    font-family: 'Lato', sans-serif;
    .price-term {
      margin: 0;
      font-size: 0.75rem;
      text-transform: uppercase;
      color: $eventLocationColor;
      letter-spacing: 0.5;
    }
     .price-description {
       margin: 0;
       font-size: 1rem;
       color: $eventCityColor;
     }
  }

   .discover{
     @include span-columns(12 of 12);
     @include pad(1.25rem 1.25rem 6.125rem 1.25rem);
   }
  .discoverBtn {
    @include span-columns(6 of 12);
    @include shift(3);
    margin-top: 3.125rem;
    background-color: #fff;
    border-radius: 0.1875rem;
    border: 0.0625rem solid #B3B5BE;
    height: 3.125rem;
    color: $discoverBtnColor;
    font-size: 0.9375rem;
    letter-spacing: 0.5;
    font-family: 'Lato', sans-serif;
    &:hover {
      background-color: #90C45B;
      color: $headerColor;
      transition: 0.6s;
      cursor: pointer;
    }
  }
}

// FOOTER --------
.footer {
  @include outer-container(12);
  @include pad(2.188rem 1.25rem 2.875rem 2.813rem);
  text-align: center;
  line-height: 1.875rem;
  border-top: 0.0625rem solid #E1E2E5;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  height: 8.75rem;
  color: $footerColor;
  font-size: 0.8125rem;

   .socialLinks {
     text-decoration: none;
     color: $footerColor;
     font-size: 2rem;
   }
  .policy {
    color: $footerColor;
    margin-right: 0.875rem;
  }

  .copyright {
    margin-right: 1.5rem;
  }
}
