$tablet: new-breakpoint(min-width 500px 4);
@include media ($tablet) {
  // HEADER ---
  .header {
    @include pad(1.25rem 2.5rem 1.87rem 2.5rem);
    .nav {
      @include span-columns(8 of 12);
      @include shift(2);
      .links {
        @include span-columns(2 of 8);
        text-align: center;
      }
      .hiddenlinks {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        color: #fff;
        font-size: 0.81rem;
        line-height: 2.66em;
        display: block;
        text-decoration: none;
        &:hover {
          color: #E3694C;
        }
      }
      .register {
        @include span-columns(2 of 8);
        margin-left: 0;
      }
    }
  }
  // HERO ---
  .heroImgWrapper {
    height: 34.38rem;
  }
  .hero {
    .title {
      @include pad(0.62rem 2.37rem 0.62rem 3.87rem);
    }
    .description {
      @include pad(0.93rem 2.37rem 2.81rem 3.87rem);
      line-height: 1.56em;
    }
    .searchForm {
      @include shift(0.88);
      .searchInput {
        @include span-columns(9.33 of 10);
      }
      .locationInput {
        @include span-columns(3 of 9.33);
        margin: 0.75rem 0.5rem 0.93rem 0;
      }
      .budgetInput {
        @include span-columns(3 of 9.33);
        margin: 0.75rem 0.5rem 0.93rem 0;
      }
      .submitBtn {
        @include span-columns(3 of 9.33);
        margin: 0.75rem 0.5rem 0.93rem 0;
      }
    }
  }
  // FEATURED ---
  .featured {
    .featuredFilter {
      @include pad(2.12rem 1.25rem 0.5rem 0);
      text-align: left;
      .featuredLinks {
        @include span-columns(2.5 of 12);
      }
      .mostPopular {
        background-position: 0 1.75rem;
      }
    }
    .artistOne {
      width: 100%;
      margin-right: 2%;
      height: 20rem;
    }
    .artistPhoto {
      @include shift(0);
    }
    .info {
      @include span-columns(10.5 of 10.5);
      @include pad(0.93rem 1.25rem 0.62rem 0);
    }
    .location {
      @include span-columns(5.5 of 10.5);
      @include omega;
      @include shift(0);
      .location-description {
        font-size: 1.12rem;
      }
    }
    .price {
      @include span-columns(5.25 of 10.5);
      .price-description {
        font-size: 1.12rem;
      }
    }
    .eventTwo {
      @include span-columns(6 of 12);
      .artistTwo {
        width: 95%;
      }
    }
    .eventThree {
      @include span-columns(6 of 12);
      @include omega;
      .artistThree {
        width: 98%;
      }
    }
    .discoverBtn {
      @include span-columns(4 of 12);
      @include shift(4);
    }
  }
  .footer {
    line-height: 5em;
    .socialNav {
      float: right;
    }
    .copyright_policy {
      float: left;
    }
  }
}
