

$headerColor: #fff;
$registerColor:  #E3694C;
$heroColor: #fff;
$findEventsColor: #9B9DA0;
$findBtnColor: #fff;
$featuredNavColor: #4D4F56;
$featuredNavHover: #90C45B;
$eventGenreColor: #B3B5BE;
$eventTitleColor: #E3694C;
$eventLocationColor: #B3B5BE;
$eventCityColor: #4D4F56;
$discoverBtnColor: #90C45B;
$footerColor: #B3B5BE;
