@import "/Users/fredroberts/dev/Caddis/CaddisTest/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
$visual-grid: true !default;
@import "/Users/fredroberts/dev/Caddis/CaddisTest/bower_components/neat/app/assets/stylesheets/_neat.scss";
// @import "_variables.scss"
@import url(https://fonts.googleapis.com/css?family=Lato);

//  HEADER --------
header {
  @include outer-container(12);
  @include pad(20px 30px 30px 20px);


.logoWrapper {
  @include span-columns(2 of 12);

}
  .nav {
    @include span-columns(8 of 12);
    @include shift(2);

    a {
      @include span-columns(4 of 8);
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      text-decoration: none;
      color: #fff;
      line-height: 49px;
      letter-spacing: 0.5px;

    }
    button {
      @include span-columns(4 of 8);
      color: #E3694C;
      width: 90px;
      height: 40px;
      background: #FFFFFF;
      outline: none;
      border: none;
      border-radius: 3px;
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      letter-spacing: 0.5px;
    }
  }
}

// HERO -------

.heroImgWrapper {
  background-image: url("../assets/heroPhoto.png");
  background-repeat: no-repeat;
  background-position-x: -398px;
  top: 0;
  left: 0;
  height: 645px;
}

.hero {
  @include outer-container(12);
  text-align: center;

  h1 {
    @include pad(30px 24px 30px 24px);
    margin: 0;
    line-height: 46px;
    font-weight: lighter;
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    letter-spacing: 0.5px;
  }

  h3 {
    @include pad(0px 26px 35px 26px);
    margin: 0;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #fff;
    line-height: 32px;
    letter-spacing: 0.5px;
  }

  .searchForm {
    @include span-columns(10 of 12);
    @include shift(1);
    // @include pad(20px 20px 20px 20px);
    // @include omega();
    #search {
      @include span-columns(10 of 10);
      @include pad(20px 20px 20px 20px);
      // width: 280px;
      height: 50px;
      border-radius: 3px;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #9B9DA0;

    }
    #location {
      @include span-columns(5 of 10);
      @include omega();
      @include pad(20px 20px 20px 20px);
      margin: 15px 8px 15px 0;
      height: 50px;
      border-radius: 3px;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #9B9DA0;
    }
    #budget {
      @include span-columns(5 of 10);
      @include omega();
      @include pad(20px 20px 20px 20px);
      margin: 15px 0px 15px 0;
      height: 50px;
      border-radius: 3px;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #9B9DA0;
    }

    #submitBtn {
      @include span-columns(10 of 10);
      height: 50px;
      background-color: #90C45B;
      border-radius: 3px;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #fff;
    }
  }
}

// FEATURED ------

.featured {
  @include outer-container(12);
  @include pad();
  text-align: center;
  .featuredNav {
    @include span-columns(12 of 12);
    @include pad(40px 20px 46px 20px);
    text-align: center;
    a {
      @include span-columns(4 of 12);
      text-decoration: none;
      font-size: 15px;
      font-family: 'Lato', sans-serif;
      color: #4D4F56;
      &:hover {
        color: #90C45B;
      }
    }
  }


  img {
    border-radius: 3px;
    height: 262px;
  }

  .info {
    @include span-columns(8 of 8);
    @include pad(15px 20px 46px 45px);

    span {
      @include span-columns(8 of 8);
      // @include pad();
      text-align: left;
      color: #B3B5BE;
      font-size: 12px;
      font-family: 'Lato', sans-serif;
    }
    a {
      @include span-columns(8 of 8);
      @include omega;
      // @include pad();
      text-align: left;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #E3694C;
    }
  }

  .location {
    @include span-columns(4.4 of 8.8);
    // @include pad();
    // @include omega()
    border-top: 1px solid #B3B5BE;
    border-right: 1px solid #B3B5BE;
    text-align: right;
    font-family: 'Lato', sans-serif;
    h5 {
      margin: 0;
      font-size: 12px;
      color: #B3B5BE;
      letter-spacing: 0.5;
    }
     h4 {
       margin: 0;
       font-size: 16px;
       color: #4D4F56;
     }
  }

  .price {
    @include span-columns(4.4 of 8.8);
    // @include pad();
    // @include omega();
    border-top: 1px solid #B3B5BE;
    text-align: left;
    font-family: 'Lato', sans-serif;
    h5 {
      margin: 0;
      font-size: 12px;
      color: #B3B5BE;
      letter-spacing: 0.5;
    }
     h4 {
       margin: 0;
       font-size: 16px;
       color: #4D4F56;
     }
  }

  #discoverBtn {
    @include span-columns(6 of 12);
    @include shift(3);
    margin-top: 50px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #B3B5BE;
    height: 50px;
    color: #90C45B;
    font-size: 15px;
    letter-spacing: 0.5;
    font-family: 'Lato', sans-serif;

  }
}
