@import url(https://fonts.googleapis.com/css?family=Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  margin: 0; }

.header {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  padding: 1.25rem 1.25rem 1.875rem 1.25rem;
  position: relative; }
  .header::after {
    clear: both;
    content: "";
    display: table; }
  .header .logoWrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .header .logoWrapper:last-child {
      margin-right: 0; }
  .header .nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-right: 0;
    margin-left: 21.32451%; }
    .header .nav:last-child {
      margin-right: 0; }
    .header .nav .addEvent {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 40.50805%;
      margin-right: 0;
      font-family: 'Lato', sans-serif;
      font-size: 0.75rem;
      text-decoration: none;
      color: #fff;
      line-height: 3.0625em;
      letter-spacing: 0.5;
      text-align: right; }
      .header .nav .addEvent:last-child {
        margin-right: 0; }
      .header .nav .addEvent:hover {
        color: #E3694C; }
    .header .nav .hiddenlinks {
      display: none; }
    .header .nav .register {
      margin-right: 0;
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 40.50805%;
      text-decoration: none;
      text-align: center;
      color: #E3694C;
      height: 2.5rem;
      line-height: 3.375em;
      margin-left: 17%;
      background-color: #FFFFFF;
      border: none;
      border-radius: 0.1875rem;
      font-family: 'Lato', sans-serif;
      font-size: 0.8125rem;
      letter-spacing: 0.03125em; }
      .header .nav .register:last-child {
        margin-right: 0; }
      .header .nav .register:hover {
        color: #fff;
        background-color: #E3694C;
        transition: 0.6s; }

.heroImgWrapper {
  background-image: url("../assets/Hero.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  height: 40.31rem; }
  .heroImgWrapper::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(92, 78, 72, 0.4);
    z-index: 0; }

.hero {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
  .hero .title {
    padding: 1.875rem 1.5rem 1.875rem 1.5rem;
    margin: 0;
    line-height: 2.875rem;
    font-weight: 100;
    font-size: 2.625rem;
    font-family: 'Lato', sans-serif;
    color: #fff;
    letter-spacing: 0.03125em; }
  .hero .description {
    padding: 0 1.625rem 2.188rem 1.625rem;
    margin: 0;
    font-size: 1.375rem;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: #fff;
    line-height: 1.5em;
    letter-spacing: 0.03125em; }
  .hero .searchForm {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .hero .searchForm:last-child {
      margin-right: 0; }
    .hero .searchForm .searchInput {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 100%;
      padding: 1.25rem 1.25rem 1.25rem 1.25rem;
      margin-right: 0;
      height: 3.125rem;
      border-radius: 0.1875rem;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      letter-spacing: 0.03125em;
      color: #9B9DA0; }
      .hero .searchForm .searchInput:last-child {
        margin-right: 0; }
    .hero .searchForm .locationInput {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 48.57871%;
      margin-right: 0;
      padding: 0.625rem 1.25rem 0.625rem 1.25rem;
      margin: 0.9375rem 0.5rem 0.9375rem 0;
      height: 3.125rem;
      border-radius: 0.1875rem;
      border: none;
      -webkit-appearance: none;
      background-image: url("../assets/Arrow.jpg");
      background-repeat: no-repeat;
      background-position: 82%;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      letter-spacing: 0.03125em;
      color: #9B9DA0; }
      .hero .searchForm .locationInput:last-child {
        margin-right: 0; }
      .hero .searchForm .locationInput:hover {
        cursor: pointer; }
    .hero .searchForm .budgetInput {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 48.57871%;
      margin-right: 0;
      padding: 0.625rem 1.25rem 0.625rem 0.625rem;
      margin: 0.9375rem 0 0.9375rem 0;
      height: 3.125rem;
      border-radius: 0.1875rem;
      border: none;
      -webkit-appearance: none;
      background-image: url("../assets/Arrow.jpg");
      background-repeat: no-repeat;
      background-position: 82%;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      letter-spacing: 0.03125em;
      color: #9B9DA0; }
      .hero .searchForm .budgetInput:last-child {
        margin-right: 0; }
      .hero .searchForm .budgetInput:hover {
        cursor: pointer; }
    .hero .searchForm .submitBtn {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 100%;
      margin-right: 0;
      height: 3.125rem;
      background-color: #90C45B;
      border-radius: 0.1875rem;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      letter-spacing: 0.03125em;
      color: #fff; }
      .hero .searchForm .submitBtn:last-child {
        margin-right: 0; }
      .hero .searchForm .submitBtn:hover {
        cursor: pointer; }

.featured {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  text-align: center; }
  .featured::after {
    clear: both;
    content: "";
    display: table; }
  .featured .featuredFilter {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 2.5rem 1.25rem 0.5rem 1.875rem;
    text-align: center; }
    .featured .featuredFilter:last-child {
      margin-right: 0; }
    .featured .featuredFilter .featuredLinks {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-decoration: none;
      font-size: 0.9375rem;
      font-family: 'Lato', sans-serif;
      color: #4D4F56;
      height: 2.188rem; }
      .featured .featuredFilter .featuredLinks:last-child {
        margin-right: 0; }
      .featured .featuredFilter .featuredLinks:hover {
        color: #90C45B; }
    .featured .featuredFilter .mostPopular {
      background-image: url("../assets/Active.svg");
      background-repeat: no-repeat;
      background-position: 0.5rem 1.75rem; }
  .featured .artistPhoto {
    width: 80%;
    margin-top: 1.875rem;
    border-radius: 0.1875rem;
    height: 16.38rem; }
  .featured .info {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    padding: 0.9375rem 1.25rem 0.625rem 2.813rem; }
    .featured .info:last-child {
      margin-right: 0; }
    .featured .info .genre {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      text-align: left;
      color: #B3B5BE;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif; }
      .featured .info .genre:last-child {
        margin-right: 0; }
    .featured .info .artist {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      margin-right: 0;
      text-align: left;
      line-height: 2em;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-size: 1.125rem;
      color: #E3694C; }
      .featured .info .artist:last-child {
        margin-right: 0; }
  .featured .location {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 37.8528%;
    margin-left: 11.6526%;
    padding: 0.625rem 0.9375rem 0.625rem 0.625rem;
    margin-right: 0;
    border-top: 0.125rem solid #E1E2E5;
    border-right: 0.125rem solid #E1E2E5;
    text-align: right;
    line-height: 1.5625em;
    font-family: 'Lato', sans-serif; }
    .featured .location:last-child {
      margin-right: 0; }
    .featured .location .location-term {
      margin: 0;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: lighter;
      color: #B3B5BE;
      letter-spacing: 0.5; }
    .featured .location .location-description {
      margin: 0;
      font-size: 1rem;
      color: #4D4F56; }
  .featured .price {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 37.8528%;
    padding: 0.625rem 0.625rem 0.625rem 0.9375rem;
    border-top: 0.125rem solid #E1E2E5;
    text-align: left;
    line-height: 1.5625em;
    font-family: 'Lato', sans-serif; }
    .featured .price:last-child {
      margin-right: 0; }
    .featured .price .price-term {
      margin: 0;
      font-size: 0.75rem;
      text-transform: uppercase;
      color: #B3B5BE;
      letter-spacing: 0.5; }
    .featured .price .price-description {
      margin: 0;
      font-size: 1rem;
      color: #4D4F56; }
  .featured .discover {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 1.25rem 1.25rem 6.125rem 1.25rem; }
    .featured .discover:last-child {
      margin-right: 0; }
  .featured .discoverBtn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    margin-top: 3.125rem;
    background-color: #fff;
    border-radius: 0.1875rem;
    border: 0.0625rem solid #B3B5BE;
    height: 3.125rem;
    color: #90C45B;
    font-size: 0.9375rem;
    letter-spacing: 0.5;
    font-family: 'Lato', sans-serif; }
    .featured .discoverBtn:last-child {
      margin-right: 0; }
    .featured .discoverBtn:hover {
      background-color: #90C45B;
      color: #fff;
      transition: 0.6s;
      cursor: pointer; }

.footer {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  padding: 2.188rem 1.25rem 2.875rem 2.813rem;
  text-align: center;
  line-height: 1.875rem;
  border-top: 0.0625rem solid #E1E2E5;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  height: 8.75rem;
  color: #B3B5BE;
  font-size: 0.8125rem; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }
  .footer .socialLinks {
    text-decoration: none;
    color: #B3B5BE;
    font-size: 2rem; }
  .footer .policy {
    color: #B3B5BE;
    margin-right: 0.875rem; }
  .footer .copyright {
    margin-right: 1.5rem; }

@media screen and (min-width: 500px) {
  .header {
    padding: 1.25rem 2.5rem 1.875rem 2.5rem; }
    .header .nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      .header .nav:last-child {
        margin-right: 0; }
      .header .nav .links {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 22.316%;
        text-align: center; }
        .header .nav .links:last-child {
          margin-right: 0; }
      .header .nav .hiddenlinks {
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        color: #fff;
        font-size: 0.8125rem;
        line-height: 2.6625em;
        display: block;
        text-decoration: none; }
        .header .nav .hiddenlinks:hover {
          color: #E3694C; }
      .header .nav .register {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 22.316%;
        margin-left: 0; }
        .header .nav .register:last-child {
          margin-right: 0; }
  .heroImgWrapper {
    height: 34.38rem; }
  .hero .title {
    padding: 0.625rem 2.375rem 0.625rem 3.875rem; }
  .hero .description {
    padding: 0.9375rem 2.375rem 2.813rem 3.875rem;
    line-height: 1.5625em; }
  .hero .searchForm {
    margin-left: 11.39365%; }
    .hero .searchForm .searchInput {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 93.10955%; }
      .hero .searchForm .searchInput:last-child {
        margin-right: 0; }
    .hero .searchForm .locationInput {
      float: left;
      display: block;
      margin-right: 3.05295%;
      width: 30.08305%;
      margin: 0.75rem 0.5rem 0.9375rem 0; }
      .hero .searchForm .locationInput:last-child {
        margin-right: 0; }
    .hero .searchForm .budgetInput {
      float: left;
      display: block;
      margin-right: 3.05295%;
      width: 30.08305%;
      margin: 0.75rem 0.5rem 0.9375rem 0; }
      .hero .searchForm .budgetInput:last-child {
        margin-right: 0; }
    .hero .searchForm .submitBtn {
      float: left;
      display: block;
      margin-right: 3.05295%;
      width: 30.08305%;
      margin: 0.75rem 0.5rem 0.9375rem 0; }
      .hero .searchForm .submitBtn:last-child {
        margin-right: 0; }
  .featured .featuredFilter {
    padding: 2.125rem 1.25rem 0.5rem 0;
    text-align: left; }
    .featured .featuredFilter .featuredLinks {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 18.96686%; }
      .featured .featuredFilter .featuredLinks:last-child {
        margin-right: 0; }
    .featured .featuredFilter .mostPopular {
      background-position: 0rem 1.75rem; }
  .featured .artistOne {
    width: 100%;
    margin-right: 2%;
    height: 20rem; }
  .featured .info {
    float: left;
    display: block;
    margin-right: 2.70356%;
    width: 100%;
    padding: 0.9375rem 1.25rem 0.625rem 0; }
    .featured .info:last-child {
      margin-right: 0; }
  .featured .location {
    float: left;
    display: block;
    margin-right: 2.70356%;
    width: 51.09354%;
    margin-right: 0;
    margin-left: 0%; }
    .featured .location:last-child {
      margin-right: 0; }
    .featured .location .location-description {
      font-size: 1.125rem; }
  .featured .price {
    float: left;
    display: block;
    margin-right: 2.70356%;
    width: 48.64822%; }
    .featured .price:last-child {
      margin-right: 0; }
    .featured .price .price-description {
      font-size: 1.125rem; }
  .featured .eventTwo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .featured .eventTwo:last-child {
      margin-right: 0; }
    .featured .eventTwo .artistTwo {
      width: 95%; }
  .featured .eventThree {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0; }
    .featured .eventThree:last-child {
      margin-right: 0; }
    .featured .eventThree .artistThree {
      width: 98%; }
  .featured .discoverBtn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%; }
    .featured .discoverBtn:last-child {
      margin-right: 0; }
  .footer {
    line-height: 5em; }
    .footer .socialNav {
      float: right; }
    .footer .copyrightNav {
      float: left; } }

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .header {
    padding: 1.25rem 0 1.875rem 2.5rem; }
    .header .nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 34.11922%; }
      .header .nav:last-child {
        margin-right: 0; }
      .header .nav .links {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 17.13707%; }
        .header .nav .links:last-child {
          margin-right: 0; }
      .header .nav .register {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 15.58339%;
        margin-left: 9%; }
        .header .nav .register:last-child {
          margin-right: 0; }
  .heroImgWrapper {
    height: 40.63rem; }
  .hero .title {
    font-size: 4rem;
    line-height: 1em;
    padding: 2.688rem 5.5rem 0.625rem 4.875rem; }
  .hero .description {
    font-size: 2rem;
    line-height: 1.1875em;
    padding: 0.9375rem 2.375rem 0.813rem 3.875rem; }
  .hero .searchForm {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.39468%;
    margin-left: 27.29537%;
    margin-top: 1.625rem; }
    .hero .searchForm:last-child {
      margin-right: 0; }
    .hero .searchForm .searchInput {
      float: left;
      display: block;
      margin-right: 4.87172%;
      width: 100%; }
      .hero .searchForm .searchInput:last-child {
        margin-right: 0; }
    .hero .searchForm .locationInput {
      float: left;
      display: block;
      margin-right: 4.91503%;
      width: 30.64939%;
      margin: 0.75rem 0 0 0; }
      .hero .searchForm .locationInput:last-child {
        margin-right: 0; }
    .hero .searchForm .budgetInput {
      float: left;
      display: block;
      margin-right: 4.91503%;
      width: 32.42761%;
      margin: 0.75rem 0 0 2%; }
      .hero .searchForm .budgetInput:last-child {
        margin-right: 0; }
    .hero .searchForm .submitBtn {
      float: left;
      display: block;
      margin-right: 4.91503%;
      width: 32.42761%;
      margin: 0.75rem 0 0  2.45%; }
      .hero .searchForm .submitBtn:last-child {
        margin-right: 0; }
  .featured .featuredFilter {
    padding: 2.5rem 1.25rem 0.5rem 2.625rem;
    text-align: left; }
    .featured .featuredFilter .featuredLinks {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 12.996%; }
      .featured .featuredFilter .featuredLinks:last-child {
        margin-right: 0; }
  .featured .artistOne {
    width: 100%;
    height: 16.25rem; }
  .featured .eventOne {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 29.20262%;
    margin-left: 4.2649%;
    margin-right: 2%; }
    .featured .eventOne:last-child {
      margin-right: 0; }
  .featured .eventTwo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 29.20262%;
    margin-right: 2%; }
    .featured .eventTwo:last-child {
      margin-right: 0; }
    .featured .eventTwo .artistTwo {
      width: 100%;
      height: 16.25rem; }
  .featured .eventThree {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 29.20262%;
    margin-right: 0; }
    .featured .eventThree:last-child {
      margin-right: 0; }
    .featured .eventThree .artistThree {
      width: 100%;
      height: 16.25rem; }
  .featured .discoverBtn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.96686%;
    margin-left: 40.09008%; }
    .featured .discoverBtn:last-child {
      margin-right: 0; } }
