@import url(https://fonts.googleapis.com/css?family=Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

header {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 30px 20px; }
  header::after {
    clear: both;
    content: "";
    display: table; }
  header .logoWrapper {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    header .logoWrapper:last-child {
      margin-right: 0; }
  header .nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-right: 0;
    margin-left: 21.32451%; }
    header .nav:last-child {
      margin-right: 0; }
    header .nav .addEvent {
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 40.50805%;
      margin-right: 0;
      font-family: 'Lato', sans-serif;
      font-size: 12px;
      text-decoration: none;
      color: #fff;
      line-height: 49px;
      letter-spacing: 0.5px;
      text-align: right; }
      header .nav .addEvent:last-child {
        margin-right: 0; }
    header .nav .links {
      display: none; }
    header .nav .register {
      margin-right: 0;
      float: left;
      display: block;
      margin-right: 4.11092%;
      width: 40.50805%;
      text-decoration: none;
      text-align: center;
      color: #E3694C;
      height: 40px;
      line-height: 38px;
      margin-left: 17%;
      background-color: #FFFFFF;
      border: none;
      border-radius: 3px;
      font-family: 'Lato', sans-serif;
      font-size: 13px;
      letter-spacing: 0.5px; }
      header .nav .register:last-child {
        margin-right: 0; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background: rgba(0, 0, 0, 0.3); }

.heroImgWrapper {
  background-image: url("../assets/heroPhoto.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position-x: -398px;
  position: relative;
  top: 0;
  left: 0;
  height: 645px; }

.hero {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
  .hero h1 {
    padding: 30px 24px 30px 24px;
    margin: 0;
    line-height: 46px;
    font-weight: lighter;
    font-size: 42px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    letter-spacing: 0.5px; }
  .hero h3 {
    padding: 0px 26px 35px 26px;
    margin: 0;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    color: #fff;
    line-height: 32px;
    letter-spacing: 0.5px; }
  .hero .searchForm {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    .hero .searchForm:last-child {
      margin-right: 0; }
    .hero .searchForm .searchInput {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 100%;
      padding: 20px 20px 20px 20px;
      margin-right: 0;
      height: 50px;
      border-radius: 3px;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #9B9DA0; }
      .hero .searchForm .searchInput:last-child {
        margin-right: 0; }
    .hero .searchForm .locationInput {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 48.57871%;
      margin-right: 0;
      padding: 10px 20px 10px 20px;
      margin: 15px 8px 15px 0;
      height: 50px;
      border-radius: 3px;
      border: none;
      -webkit-appearance: none;
      background-image: url("../assets/Arrow.png");
      background-repeat: no-repeat;
      background-position: 82%;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #9B9DA0; }
      .hero .searchForm .locationInput:last-child {
        margin-right: 0; }
    .hero .searchForm .budgetInput {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 48.57871%;
      margin-right: 0;
      padding: 10px 20px 10px 10px;
      margin: 15px 0px 15px 0;
      height: 50px;
      border-radius: 3px;
      border: none;
      -webkit-appearance: none;
      background-image: url("../assets/Arrow.png");
      background-repeat: no-repeat;
      background-position: 82%;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #9B9DA0; }
      .hero .searchForm .budgetInput:last-child {
        margin-right: 0; }
    .hero .searchForm .submitBtn {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 100%;
      margin-right: 0;
      height: 50px;
      background-color: #90C45B;
      border-radius: 3px;
      border: none;
      font-family: 'Lato', sans-serif;
      font-size: 15px;
      letter-spacing: 0.5px;
      color: #fff; }
      .hero .searchForm .submitBtn:last-child {
        margin-right: 0; }

.featured {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  padding: 2.35765%;
  text-align: center; }
  .featured::after {
    clear: both;
    content: "";
    display: table; }
  .featured .featuredFilter {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 40px 20px 8px 30px;
    text-align: center; }
    .featured .featuredFilter:last-child {
      margin-right: 0; }
    .featured .featuredFilter a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-decoration: none;
      font-size: 15px;
      font-family: 'Lato', sans-serif;
      color: #4D4F56; }
      .featured .featuredFilter a:last-child {
        margin-right: 0; }
      .featured .featuredFilter a:hover {
        color: #90C45B; }
  .featured img {
    margin-top: 40px;
    border-radius: 3px;
    height: 262px; }
  .featured .info {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    padding: 15px 20px 10px 45px; }
    .featured .info:last-child {
      margin-right: 0; }
    .featured .info span {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      text-align: left;
      color: #B3B5BE;
      font-size: 12px;
      font-family: 'Lato', sans-serif; }
      .featured .info span:last-child {
        margin-right: 0; }
    .featured .info a {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      margin-right: 0;
      text-align: left;
      line-height: 32px;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #E3694C; }
      .featured .info a:last-child {
        margin-right: 0; }
  .featured .location {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 37.8528%;
    margin-left: 11.6526%;
    padding: 10px 15px 10px 10px;
    margin-right: 0;
    border-top: 2px solid #E1E2E5;
    border-right: 2px solid #E1E2E5;
    text-align: right;
    line-height: 25px;
    font-family: 'Lato', sans-serif; }
    .featured .location:last-child {
      margin-right: 0; }
    .featured .location dt {
      margin: 0;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: lighter;
      color: #B3B5BE;
      letter-spacing: 0.5; }
    .featured .location dd {
      margin: 0;
      font-size: 16px;
      color: #4D4F56; }
  .featured .price {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 37.8528%;
    padding: 10px 10px 10px 15px;
    border-top: 2px solid #E1E2E5;
    text-align: left;
    line-height: 25px;
    font-family: 'Lato', sans-serif; }
    .featured .price:last-child {
      margin-right: 0; }
    .featured .price dt {
      margin: 0;
      font-size: 12px;
      text-transform: uppercase;
      color: #B3B5BE;
      letter-spacing: 0.5; }
    .featured .price dd {
      margin: 0;
      font-size: 16px;
      color: #4D4F56; }
  .featured .discover {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 20px 20px 98px 20px; }
    .featured .discover:last-child {
      margin-right: 0; }
  .featured .discoverBtn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 25.58941%;
    margin-top: 50px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #B3B5BE;
    height: 50px;
    color: #90C45B;
    font-size: 15px;
    letter-spacing: 0.5;
    font-family: 'Lato', sans-serif; }
    .featured .discoverBtn:last-child {
      margin-right: 0; }

footer {
  max-width: 12;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 20px 46px 45px;
  text-align: center;
  line-height: 30px;
  border-top: 1px solid #E1E2E5;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  height: 140px;
  color: #B3B5BE;
  font-size: 13px; }
  footer::after {
    clear: both;
    content: "";
    display: table; }
  footer a {
    color: #B3B5BE;
    margin-right: 14px; }
  footer small {
    margin-right: 24px; }

@media screen and (min-width: 500px) {
  header {
    padding: 20px 40px 30px 40px; }
    header .nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      header .nav:last-child {
        margin-right: 0; }
      header .nav a {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 22.316%;
        text-align: right; }
        header .nav a:last-child {
          margin-right: 0; }
      header .nav .links {
        display: block; }
      header .nav .register {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 22.316%;
        margin-left: 0; }
        header .nav .register:last-child {
          margin-right: 0; }
  .heroImgWrapper {
    background-image: url("../assets/heroTablet.png");
    background-position: 0px 0px;
    height: 550px; }
  .hero h1 {
    padding: 10px 38px 10px 62px; }
  .hero h3 {
    padding: 15px 38px 45px 62px;
    line-height: 25px; }
  .hero .searchForm {
    margin-left: 18.12627%; }
    .hero .searchForm .searchInput {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 93.10955%; }
      .hero .searchForm .searchInput:last-child {
        margin-right: 0; }
    .hero .searchForm .locationInput {
      float: left;
      display: block;
      margin-right: 3.05295%;
      width: 30.08305%;
      margin: 12px 8px 15px 0; }
      .hero .searchForm .locationInput:last-child {
        margin-right: 0; }
    .hero .searchForm .budgetInput {
      float: left;
      display: block;
      margin-right: 3.05295%;
      width: 30.08305%;
      margin: 12px 8px 15px 0; }
      .hero .searchForm .budgetInput:last-child {
        margin-right: 0; }
    .hero .searchForm .submitBtn {
      float: left;
      display: block;
      margin-right: 3.05295%;
      width: 30.08305%;
      margin: 12px 8px 15px 0; }
      .hero .searchForm .submitBtn:last-child {
        margin-right: 0; }
  .featured .featuredFilter {
    padding: 34px 20px 8px 0px;
    text-align: left; }
    .featured .featuredFilter a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 18.96686%; }
      .featured .featuredFilter a:last-child {
        margin-right: 0; }
  .featured .ampImg {
    content: url("../assets/tabletAmp.png");
    width: 100%;
    margin-right: 2%;
    height: 320px; }
  .featured .info {
    float: left;
    display: block;
    margin-right: 2.70356%;
    width: 100%;
    padding: 15px 20px 10px 0px; }
    .featured .info:last-child {
      margin-right: 0; }
  .featured .location {
    float: left;
    display: block;
    margin-right: 2.70356%;
    width: 51.09354%;
    margin-right: 0;
    margin-left: 0%; }
    .featured .location:last-child {
      margin-right: 0; }
    .featured .location dd {
      font-size: 18px; }
  .featured .price {
    float: left;
    display: block;
    margin-right: 2.70356%;
    width: 48.64822%; }
    .featured .price:last-child {
      margin-right: 0; }
    .featured .price dd {
      font-size: 18px; }
  .featured .eventTwo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .featured .eventTwo:last-child {
      margin-right: 0; }
    .featured .eventTwo img {
      content: url("../assets/saxTablet.png");
      width: 95%; }
  .featured .eventThree {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0; }
    .featured .eventThree:last-child {
      margin-right: 0; }
    .featured .eventThree img {
      content: url("../assets/churchTablet.png");
      width: 98%; }
  .featured .discoverBtn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%; }
    .featured .discoverBtn:last-child {
      margin-right: 0; }
  footer {
    line-height: 80px; }
    footer .socialNav {
      float: right; }
    footer .copyright {
      float: left; } }

@media screen and (min-width: 769px) and (max-width: 1280px) {
  header {
    padding: 20px 0px 30px 40px; }
    header .nav {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      margin-left: 34.11922%; }
      header .nav:last-child {
        margin-right: 0; }
      header .nav a {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 17.13707%; }
        header .nav a:last-child {
          margin-right: 0; }
      header .nav .register {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 15.58339%;
        margin-left: 9%; }
        header .nav .register:last-child {
          margin-right: 0; }
  .heroImgWrapper {
    background-image: url("../assets/heroDesktop.png");
    background-position: 0px 0px;
    height: 650px; }
  .hero h1 {
    font-size: 64px;
    line-height: 54px;
    padding: 75px 88px 10px 78px; }
  .hero h3 {
    font-size: 32px;
    line-height: 35px;
    padding: 15px 38px 45px 62px; }
  .hero .searchForm {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.39468%;
    margin-left: 27.29537%;
    margin-top: 26px; }
    .hero .searchForm:last-child {
      margin-right: 0; }
    .hero .searchForm .searchInput {
      float: left;
      display: block;
      margin-right: 4.87172%;
      width: 100%; }
      .hero .searchForm .searchInput:last-child {
        margin-right: 0; }
    .hero .searchForm .locationInput {
      float: left;
      display: block;
      margin-right: 4.91503%;
      width: 30.64939%;
      margin: 12px 0px 0px 0px; }
      .hero .searchForm .locationInput:last-child {
        margin-right: 0; }
    .hero .searchForm .budgetInput {
      float: left;
      display: block;
      margin-right: 4.91503%;
      width: 32.42761%;
      margin: 12px 0px 0px 8px; }
      .hero .searchForm .budgetInput:last-child {
        margin-right: 0; }
    .hero .searchForm .submitBtn {
      float: left;
      display: block;
      margin-right: 4.91503%;
      width: 32.42761%;
      margin: 12px 0px 0px 8px; }
      .hero .searchForm .submitBtn:last-child {
        margin-right: 0; }
  .featured .featuredFilter {
    padding: 40px 20px 8px 42px;
    text-align: left; }
    .featured .featuredFilter a {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 12.996%; }
      .featured .featuredFilter a:last-child {
        margin-right: 0; }
  .featured .ampImg {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 100%;
    content: url("../assets/oyea.png");
    height: 260px; }
    .featured .ampImg:last-child {
      margin-right: 0; }
  .featured .eventOne {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 27.49666%;
    margin-left: 3.58252%;
    margin-right: 5%; }
    .featured .eventOne:last-child {
      margin-right: 0; }
  .featured .eventTwo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 27.49666%;
    margin-right: 5%; }
    .featured .eventTwo:last-child {
      margin-right: 0; }
    .featured .eventTwo img {
      content: url("../assets/desktopSax.png");
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 100%;
      height: 260px; }
      .featured .eventTwo img:last-child {
        margin-right: 0; }
  .featured .eventThree {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 27.49666%; }
    .featured .eventThree:last-child {
      margin-right: 0; }
    .featured .eventThree img {
      content: url("../assets/desktopChurch.png");
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 100%;
      height: 260px; }
      .featured .eventThree img:last-child {
        margin-right: 0; }
  .featured .discoverBtn {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.96686%;
    margin-left: 40.09008%; }
    .featured .discoverBtn:last-child {
      margin-right: 0; } }
